* {
    font-family: 'monospace', Courier;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #37946e;
    /* border: 1px solid red; */
}
.child {
    background-color: #214a39;
    border: 5px solid black;
    border-radius: 10%;
}

.picture {
    width: 150px;
    height:auto;
    margin: 20px;
    /* border: 1px solid red; */
}

.gif {
    width: 150px;
    height:auto;
    margin-top: 20px;
    background-color: #214a39;
    border: 5px solid black;
    border-radius: 10%;
    padding: 10px;
    /* border: 1px solid red; */
}

.logo {
    width: 150px;
    height:auto;
    margin: 40px;
    /* border: 1px solid red; */
}

.title {
    font-weight: 800;
    font-size:xx-large;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    align-items: center;
    color: black;
    background-color: #37946e;
  
    /* border: 1px solid red; */
}

.choices {     
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: #37946e;
    color: black;
    font-weight: 800;
    font-size:x-large;
    /* border: 1px solid red; */
}

.button {
    width:150px;
    background-color: #484f58;
    font-weight: 700;
    border-radius: 5%;
    border: 50px;
    border-color: black;
    padding: 8px 8px;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;
    color: BLACK;
    /* border: 1px solid red; */
}

button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.footer {
    display: flex;
    justify-content: flex-end;
    color: black;
    background-color: #37946e;
    padding:10px;
    /* border: 1px solid red; */
}