* {
    font-family: 'monospace', Courier;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    background-color: #161b22;
    padding-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border: 1px solid red;
}

.picture {
    width: 150px;
    height:auto;
    border: 5px solid darkslategray;
    border-radius: 10%;
    margin: 20px;
    border: 1px solid red;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    align-items: center;
    padding: 30px;
    color: white;
    background-color: #161b22;
    border: 1px solid red;
}

.choices {     
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #161b22;
    color: white;
    padding: 50px;
    border: 1px solid red;
}

.button {
    width:150px;
    background-color: #484f58;
    font-weight: 700;
    border-radius: 5%;
    border: 50px;
    border-color: black;
    padding: 8px 8px;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;
    color: white;
    border: 1px solid red;
}

button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}